{
  "name": "queue-worker-starter",
  "main": "src/index.ts",
  "compatibility_date": "2026-06-26",
  "queues": {
    "producers": [
      {
        "binding": "JOB_QUEUE",
        "queue": "my-app-jobs"
      }
    ],
    "consumers": [
      {
        "queue": "my-app-jobs"
      }
    ]
  }
}
